table.border
{
    border-color: #600;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-collapse: collapse;
}

table.border td, table.border th
{
    border-color: #600;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
    background-color: #FFF;

}
tr.red    td{background-color: #FCC;}
tr.green  td{background-color: #CFC;}
tr.yellow td{background-color: #FFC;}
